
/* NAVBAR  */
#navbar-logo{
    width: 16vh;
    min-width: 120px;
}
.dropdown-dev{
    font-style: italic;
    font-weight: 600;
}
#carouselExampleIndicators{
    top: 7vh;
    height: 50vh;
}
.carousel-inner{
    
    height: 50vh;

}
.carousel-inner img{
height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* CARDS */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.div-card-img{

    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.card-img{
    height: inherit;
    align-self: center;
    object-fit: cover;
    left: 2px;
}

