div, nav, figure{
    scroll-behavior: smooth;
    scroll-margin-top: 8rem;
}

/* NAVBAR  */
#navbar-logo{
    width: 16vh;
    min-width: 120px;
}
.dropdown-dev{
    font-style: italic;
    font-weight: 600;
}
.btn-success{
    background-color: #ff0;
    border-color: rgba(0, 0, 0, 0.505);
}
.btn-success:hover{
    transform: scale(1.06);
    background-color:#ff0;
    border-color: rgba(0, 0, 0, 0.768);
}

/* == CAROUSEL ==  */
#carouselExampleIndicators{
    top: 7vh;
    height: 50vh;
}
.carousel-inner{
    
    height: 50vh;

}
.carousel-inner img{
height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* CARDS */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.div-card-img{

    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.card-img{
    height: inherit;
    align-self: center;
    object-fit: cover;
    left: 2px;
}


/* CARDAPIO */

#nav-tabContent .card img{
    height: 35vh;
    object-fit: cover;
}
.nav-link-card{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 0, 0.187);
    border-color: #ff0;
}
.nav-link-card:hover{
    color: rgb(0, 0, 0);
    background-color: #ff0;
}

/* Map */
.map-button-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.map-button{
    background-color: rgba(255, 255, 0, 0.644);
    color: rgba(34, 34, 34, 0.676);
    border-color: rgb(61, 61, 61);
    }
.map-button:hover{
    transform: scale(1.05);
    background-color: #ff0;
    color: rgb(0, 0, 0);
    border-color: #ff0 ;
}
.modal-dialog{
    width: 67vw;
    max-width: 80vw;
}
.modal iframe{
    width: 100%;
    height: 700px;
}
